<p class="name"><a href="<%=lang[:unicode_link]%>" target="<%= lang[:code] %>"><%= lang[:name] %></a></p>
<div class="graph">
  <div style="width:<%=500*lang[:display_percent]%>px;margin-left:<%=(500-500*lang[:display_percent])/2%>px" class="bar"></div>
</div>
<p><%= lang[:percent]%>&nbsp;&nbsp;&nbsp;<a href=""><%= lang[:size_str]%></a></p>
