<p><%= lang[:name] %> <%= lang[:size_str]%>  <%= lang[:percent]%></p>
<div class="graph">
  <div style="width:<%=500*lang[:display_percent]%>px;margin-left:<%=(500-500*lang[:display_percent])/2%>px" class="bar"/>
</div>
